* {
    margin: 0;
}

nav {
    height: 120px;
    background-color: #93B5C9;
}

main {
    height: 230px;
    background-color: #AB2849;
}

div{
    margin: 20px 120px 20px 120px;
}
article {
    display: flex;
    gap: 10px;
}

section{
    height: 130px;
    background-color: #AB2849;
    margin-top: 20px;
}

article > section {
    width: 50%;
}

footer {
    background-color: #AB2849;
    height: 120px;
    margin-bottom: 9px;
}
