* {
    margin: 0;
}

nav {
    height: 130px; 
    background-color: #93B5C9;
}

div {
    margin-left: 130px;
    margin-right: 130px;
    height: 300px;
}
main {
    height: 250px;
    background-color: #AB2849;
    margin-bottom: 20px;
}

section {
    height: 130px;
    background-color: #AB2849;
    margin-bottom: 20px;
}

article {
    height: 130px;

}

article > section{
    width: 49.5%;
    float: left;
    
    background-color: #AB2849;
}
article > section:nth-child(2){
    width: 49.5%;
    float: right;

    background-color: #AB2849;
}

footer {
    height: 110px;
    margin: 20px 0 10px 0;
    background-color: #AB2849;
}