@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
}

body {
    background-color: #5CE1E6;
}

aside {
    background-color: white;
    width: 125px;
    height: 1700px;
    margin-left: 35px;
    float: left;

}
div {
    margin-left: 125px;
    display: flex;
    Flex-wrap: wrap; 
}
section {
    align-items: center;
    display: flex;
    height: 850px;
    width: 49.9%;
    justify-content: center;
}

div > section:first-child{
    height: 850px;
    background-color: #cccccc;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
div > section:last-child{
    height: 850px;
    background-color: #cccccc;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
}
article {
    width: 45%;
    height: 100px;
    margin-left: 5px;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    display: inline-block;
    text-align: center;
    transform: scaleY(0.45);
    transform-origin: 0 0;
    text-transform: uppercase;
    
}
h2{
    font-family: 'Anonymous Pro', monospace;
    font-size: 40px;
    margin-left: 30px;
    line-height: 1.8;
}

h3{
    font-family: 'Anonymous Pro', monospace;
}
h4{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    text-align: center;

}
span{
    margin-top: 20px;
    font-size: 25px;
    font-weight: lighter;
}
