* {
    margin: 0;
}

nav {
    height: 130px;
    background-color: #93B5C9;

}
main {
    height: 230px;
    background-color: #AB2849;
    margin-bottom: 20px;
}

article {
    position: relative;
    width: 50%;
    height: 150px;
    margin-top: 20px;
}
div {
    margin: 0px 130px 00px 130px;
    height: 340px; /* esta es la suma de los section con su margen */

}
article > section{
    background-color: #AB2849;
    position: absolute;
    height: 150px;
    width: 99%;
}

article > section:nth-child(2){
    position: absolute;
    left: 101%;
}
section{

    height: 150px;
    width: 100%;
    background-color: #AB2849;
}
footer {
    height: 130px;
    background-color: #AB2849;
    margin-bottom: 10px;
}