* {
    margin: 0;
}

nav {
    height: 130px;
    background-color: #93B5C9;
}

main {
    height: 250px;
    background-color: #AB2849;
    margin-bottom: 20px;
}
div {
    display: flex;
}

article {
    flex-basis: 25%;
}
div > article:nth-child(1){ /* al primer article ocupa el 75% de la horizontal */
    flex-grow: 1;
}
section{
    height: 130px;
    background-color: #AB2849;
    margin-bottom: 20px;


}

footer {
    height: 110px;
    margin: 0px 20px 10px 20px;
    background-color: #AB2849;
}